<html>
    <head>
        <title>En Janvier</title>
    </head>
    <body>
        <div>
            <h1><a href="">En Janvier</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Samedi</a></h2>
            <p>Rendez-vous avec les Djangos girls à Valence ! tres sympa, interessant, inrichissant mais complexe ! un peu froid aussi mais les izzas etaient bonnes ! merci à toutes et à tous.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Dimanche</a></h2>
            <p>Demain matin, marché à Bourg, puis demenagement des voisins.</p>
        </div>
    </body>
</html>